{% extends "base.j2" %}

{% block content %}
    <section class="about">
        <figure class="about-figure">
            <img class="about-photo" src="/static/imgs/me-openai.webp"
                 alt="Portrait of {{ site.author }}" width="180" height="180">
            <figcaption>How ChatGPT imagines me.</figcaption>
        </figure>

        <div>
            <h1>{{ site.author }}</h1>
            <p>
                I'm a self-taught developer and hacker. I started messing with HTML when I was 10
                and have been building things ever since.
            </p>
            <p>
                I work mostly with Linux, Python, web development, networking,
                servers, containers, and low-level systems.
            </p>
            <p>
                I like building things I wish existed, automating things that annoy me,
                and occasionally breaking things just to figure out why they work.
            </p>
            <p>
                Currently deep in vibe-code mode, working on websites, tools, Linux projects,
                and other weird ideas that probably didn't need to exist.
            </p>
            <p>Stationed in Sweden.</p>
        </div>
    </section>

{% endblock %}
