{% extends "base.j2" %}
{% block title %}Lord J. Hackwell{% endblock %}
{% block head %}
<meta name="description" content="Self-taught dev &amp; hacker. I build things, break things, and occasionally understand why they work. Currently deep in vibe-code mode.">
<meta property="og:title" content="Lordhck">
<meta property="og:type" content="website">
<meta property="og:url" content="https://lordhck.com/">
<meta property="og:description" content="Personal website">
<meta property="og:site_name" content="Lordhck">
<meta name="twitter:title" content="Lordhck">
<meta name="twitter:description" content="Personal website">
{% endblock %}
{% block content %}
<main>
<article>
<br>
<h1 class="landing">Lord J. Hackwell</h1>
<p>A self-taught nerd who likes to build stuff like FOSS & self-hosted projects.</p>
<p>
<a href="/">/index</a> <a href="/whoami">/whoami</a>
</p>
<ul>
{% for post in posts %}
<li class="g">
  <span>
    <span class="d">{{ post.date }}</span>&nbsp;
    <a href="{{ post.url }}">{{ post.title }}</a>
  </span>
  <span>
    &nbsp; {% for t in post.tags %}<a class="tag" href="/tags/{{ t }}">#{{ t }}</a> {% endfor %}
  </span>
</li>
{% endfor %}
</ul>
<p>
{% for tag in tags %}<a class="tag" href="/tags/{{ tag }}">#{{ tag }}</a> {% endfor %}
</p>
</article>
</main>
{% endblock %}
